#cajaRoja{
    width: 100px;
    height: 80px;
    padding: 20px;
    margin: 50px auto;
    margin-top: 790px;
    background-color: red;
    position: absolute;
}

.bala {
    width: 5px;
    height: 20px;
    background-color: yellow;
    position: absolute;
}